name = "tldraw-sandbox-worker"
main = "src/index.ts"
compatibility_date = "2024-12-01"

[durable_objects]
bindings = [
  { name = "SANDBOX", class_name = "Sandbox" }
]

[[migrations]]
tag = "v1"
new_classes = ["Sandbox"]
